.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 100% /*whatever width you want*/;
}

.error {
  text-align: center;
  vertical-align: middle;
}

.error-code {
  font-size: 128px;
  font-weight: bold;
  margin-bottom: 0;
  padding: 0;
}

.error-desc {
  font-size: 48px;
  color: $grey-color;
}
