.post-preview {
  border-bottom: 1px solid $grey-color-ultra-dark;
  padding-bottom: $spacing-unit;
  margin-bottom: $spacing-unit * 2;

  #title {
    border-left: 2px solid $brand-primary;
    padding: 0 $spacing-unit / 2;
    margin: $spacing-unit / 2 0;
    
    h2 {
      color: $brand-primary;
    }

    #author {
      padding-right: $spacing-unit / 4;

      i {
        font-weight: $font-weight-medium;
      }
    }


    #date {
      padding-left: $spacing-unit / 4;
    }
  }

  #read-more {
    float: right;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;

  margin-bottom: $spacing-unit;
}