.header {
  height: 72px;
  background-color: black;
}

.branding {
  margin-left: $spacing-unit;
  font-size: 48px;
  font-weight: $font-weight-bold;

  a {
    text-decoration: none;
  }

  #ikonic {
    color: $brand-primary;
  }

  #games {
    color: white;
  }
}

nav {
  float: right;
  margin-right: $spacing-unit;
  font-size: 24px;

  .active {
    background-color: $brand-primary;
  }

  a {
    display: inline-block;
    cursor: pointer;
    color: white;
    font-weight: $font-weight-medium;
    text-decoration: none;
    padding: 18px $spacing-unit / 4;

    -webkit-transition: color $ease-time ease;
    -moz-transition: color $ease-time ease;
    -o-transition: color $ease-time ease;
    transition: color $ease-time ease;
  }
  
  a:hover {
    background: $brand-primary;

    -webkit-transition: all $ease-time ease;
    -moz-transition: all $ease-time ease;
    -o-transition: all $ease-time ease;
    transition: all $ease-time ease;
  }
}

@include media-query($screen-sm) {
  .header {
    height: auto;
  }

  nav {
    background: black;
    border-top: 3px solid $brand-primary;
    float: none;
    text-align: center;
    margin: 0;

    a {
      display: block;
      margin: 0 $spacing-unit / 2;
      padding: $spacing-unit / 4;
      border-bottom: 1px solid $grey-color-dark;
    }
  }
}
