header.post {
  margin-top: $spacing-unit / 2;
  //margin-bottom: $spacing-unit / 2;
}

article.post {
  img {
    max-width: 100%;
  }
}

.post-listing-small {
  a h2 {
    color: $brand-primary;
  }
}

.disqus-comments {
  margin: $spacing-unit / 2;
}

.post-meta {
  .author {
    padding-right: $spacing-unit / 2;

    i {
      text-align: center;
      font-weight: $font-weight-medium;
      color: $brand-primary;
    }
  }
  
  .date {
    float: right;
  }
}
