.sidebar {
  margin-top: $spacing-unit / 2;
}

.sidebar-panel {
  margin-bottom: $spacing-unit / 2;
}

.floating-header {
  text-shadow: 2px 2px 3px $grey-color-light;
  color: $grey-color-dark;
  font-weight: $font-weight-medium;
  font-size: 24px;
}

.icon-container {
  display: flex;
  justify-content: space-between;
}

.icon-twitter {
  color: #55acee;
}

.icon-facebook {
  color: #3b5998;
}

.icon-github {
  color: black;
}

.icon-rss {
  color: #ff6600;
}

.sub-title {
  font-size: 24px;
  color: $grey-color-dark;
  margin-bottom: $spacing-unit / 6;
}

.sub-input {
  font-size: $base-font-size;
  width: 100%;
  padding: $spacing-unit / 4;
  margin-bottom: $spacing-unit / 4;
}

.sub-button {
  width: 100%;
  border: none;
}

.tag-cloud {
  margin-bottom: $spacing-unit;
}

.site-tag {
  font-weight: $font-weight-medium;
  color: $grey-color-dark;
  background: $grey-color-ultra-light;
  //border: 1px solid $grey-color-light;
  padding: 4px 8px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: 0 1px 3px 2px $grey-color;
  -moz-box-shadow: 0 1px 3px 2px $grey-color;
  box-shadow: 0 1px 3px 2px $grey-color;
}

.sidebar-icon {
  font-size: 5em !important;
}

@include media-query($screen-md) {
  .sidebar-icon {
    font-size: 4em !important;
  }
}

@include media-query($screen-sm) {
  .sidebar-icon {
    font-size: 3em !important;
  }
}

@include media-query($screen-mb) {
  .sidebar-icon {
    font-size: 5em !important;
  }
}