<footer>
  <div>

    <div>
      <b>Site</b>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/html5-games">HTML5 Games</a></li>
        <li><a href="/press">Press</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>

    <div>
      <b>Contact</b>
      <ul
        {% if site.github_username %}
        <li>
          <a href="https://github.com/{{ site.github_username }}">
            <span>Github</span>
          </a>
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <span>Twitter</span>
          </a>
        </li>
        {% endif %}

        {% if site.facebook_username %}
        <li>
          <a href="https://facebook.com/{{ site.facebook_username}}">
            <span>Facebook</span>
          </a>
        </li>
        {% endif %}

        <li>
          <!-- <a href="mailto:{{ site.email }}">{{ site.email }}</a> -->
          <a href="mailto:{{ site.email }}">
            <span>Email</span>
          </a>
        </li>
      </ul>
    </div>

    <div>
      <b>Blurb</b>
      <p>{{ site.description }}</p>
    </div>
  </div>

  <div>
      <p>Copyright &copy; 2015 Erin Gunn</p>
  </div>

</footer>
