<header>
  <div class="header">
    <span class="branding">
      <a href="{{ site.baseurl }}/">
        <span id="ikonic">Ikonic</span><span id="games">Games</span>
      </a>
    </span>

    <nav>
      <a {% if page.class == 'home' %} class="active" {% endif %}" href="/">Home</a>
      <a {% if page.class == 'blog' %} class="active" {% endif %}" href="/blog">Blog</a>
      <a {% if page.class == 'about' %} class="active" {% endif %}" href="/about">About</a>
      <a {% if page.class == 'html5games' %} class="active" {% endif %}" href="/html5-games">HTML5 Games</a>
      <a {% if page.class == 'contact' %} class="active" {% endif %}" href="/contact">Contact</a>
    </nav>

  </div>
</header>
