<header>
  <div class="header">
    <span class="branding">
      <a href="{{ site.baseurl }}/">
        <span id="ikonic">Ikonic</span><span id="games">Games</span>
      </a>
    </span>


    <!--<nav>-->
      <!--<a {% if page.class == 'home' %} nav-button-active {% endif %}" href="/">Home</a>-->
      <!--<a {% if page.class == 'about' %} nav-button-active {% endif %}" href="/about">About</a>-->
      <!--<a {% if page.class == 'html5games' %} nav-button-active {% endif %}" href="/html5-games">HTML5 Games</a>-->
      <!--<a {% if page.class == 'contact' %} nav-button-active {% endif %}" href="/contact">Contact</a>-->
    <!--</nav>-->

    <nav>
      <a class="nav-btn" href="/">Home</a>
      <a class="nav-btn" href="/about">About</a>
      <a class="nav-btn" href="/html5-games">HTML5 Games</a>
      <a class="nav-btn" href="/contact">Contact</a>
    </nav>

  </div>
</header>
