<header>
  <div class="header">
    <span class="branding">
      <a href="{{ site.baseurl }}/">
        <span id="ikonic">Ikonic</span><span id="games">Games</span>
      </a>
    </span>


    <!--<nav>-->
      <!--<a {% if page.class == 'home' %} nav-button-active {% endif %}" href="/">Home</a>-->
      <!--<a {% if page.class == 'about' %} nav-button-active {% endif %}" href="/about">About</a>-->
      <!--<a {% if page.class == 'html5games' %} nav-button-active {% endif %}" href="/html5-games">HTML5 Games</a>-->
      <!--<a {% if page.class == 'contact' %} nav-button-active {% endif %}" href="/contact">Contact</a>-->
    <!--</nav>-->

    <nav>
      <a class="nav-btn" href="/">Home</a>
      <a class="nav-btn" href="/about">About</a>
      <a class="nav-btn" href="/html5-games">HTML5 Games</a>
      <a class="nav-btn" href="/contact">Contact</a>
    </nav>

    <div class="mobilenav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/html5-games">HTML5 Games</a></li>
      <li><a href="/contact">Contact</a></li>
    </div>

    <a href="javascript:void(0)" class="icon">
      <div class="hamburger">
        <div class="menui top-menu"></div>
        <div class="menui middle-menu"></div>
        <div class="menui bottom-menu"></div>
      </div>
    </a>

  </div>
</header>
