<div class="jumbotron jumbotron-gradient">
    <div class="grid inherit-height">
        <div class="col-1-12"></div>
        <div class="info col-6-12">
            <h1>Welcome to Ikonic Games</h1>
            <p>We specialize in the production and licensing of crossbrowser HTML5 games.</p>
        </div>
        <div class="col-2-12"></div>
        <div class="jumbotron-icon-container col-2-12">
            <img class="jumbotron-icon" src="/assets/vendor/HTML5_logo_and_wordmark.svg" alt="HTML5">
        </div>
        <div class="col-1-12"></div>
    </div>
</div>