<div class="jumbotron">
    <div class="grid inherit-height">
        <div class="col-1-12"></div>
        <div class="info col-6-12">
            <h1>HTML5 Games and Licensing</h1>
            <p>We specialize in the production and licensing of HTML5 and Crossplatform games, targeting mobile and desktop browsers.</p>
        </div>
        <div class="col-2-12"></div>
        <div class="icon-container col-2-12">
            <img class="icon" src="/assets/vendor/HTML5_logo_and_wordmark.svg" alt="HTML5">
        </div>
        <div class="col-1-12"></div>
    </div>
</div>